/*###############################
###
###     GLOBAL STYLES
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

@import 'app/costum-styles/default-theme.scss';
@import 'app/costum-styles/animations.scss';

/*
### GLOBAL STYLES
*/
* {
    border: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    left: 0
}

mat-drawer-content {
    overflow-x: hidden !important;
}

mat-card {
    box-shadow: none !important;
    cursor: move;
    padding: 16px !important;

    mat-card-header,
    mat-card-content {
        padding: 0 !important;
    }

    mat-card-title,
    mat-card-subtitle,
    mat-card-content {
        cursor: text;
        width: 100%;

        input {
            background-color: transparent;
            padding: 4px;
        }
    }

    mat-card-title input {
        font-size: 16px;
        font-weight: bold;
        width: 100%;
    }

    mat-card-subtitle input {
        font-size: 14px;
        width: 100%;
    }

    mat-card-content textarea {
        background-color: transparent;
        font-size: 14px;
        width: 100%;
        padding: 4px;
        box-sizing: border-box;
        resize: none;
        overflow: auto;
        font-family: inherit;
        height: auto;
    }
}

.mat-mdc-card-header {
    display: block !important;
}

/*
### COMMON STYLES
*/
.mr-l-16 {
    margin-left: 16px;
}

.mr-t-16 {
    margin-top: 16px;
}

.mr-t-24 {
    margin-top: 24px;
}

.mr-b-32 {
    margin-bottom: 32px;
}

.pad-l-24 {
    padding-left: 24px;
}

.pad-r-24 {
    padding-right: 24px;
}

.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-btw-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-32 {
    gap: 32px;
}

/*
### COSTUM CHANGES
*/

/* STYLES FOR INPUTS */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: $secondary !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field--focused .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
    color: $primary !important;
}

/* STYLES FOR SELECTBOX*/
html {
    --mat-select-focused-arrow-color: hsl(355, 100%, 58%) !important;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: hsl(355, 100%, 58%) !important;
    --mdc-filled-text-field-focus-active-indicator-color: hsl(355, 100%, 58%) !important;
    --mat-option-selected-state-label-text-color: hsl(355, 100%, 58%) !important;
}

.mat-primary {
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: hsl(355, 100%, 58%) !important;
}

/* STYLES FOR SCROLLBARS*/
/* {
    scrollbar-width: none;
    border: none;
}*/


/* STYLES FOR DRAG n DROP*/
.cdk-drag {
    /* User-defined styles for drawing the card */
    cursor: move;
    transition: box-shadow 0.3s ease;
    border-radius: 20px;
}

.cdk-drag:hover {
    /* Change the shadow when moving the mouse over */
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.cdk-drag:active {
    /* Change the shadow when the element is actively dragged */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.50);
}

.cdk-drag-preview {
    //User-defined styles for the drag preview
    height: fit-content !important;
    border-radius: 20px;
    opacity: 0.8;
}

.cdk-drag-animating {
    //Custom styles for the element while it is animated
    transition: all 150ms;
}

/* STYLES FOR LOGIN */
.login-btn {
    background-color: $secondary !important;
    color: $text !important;
    transition: all 250ms !important;
    box-shadow: none !important;

    &:hover {
        background-color: $link !important;
        color: $secondary !important;
        transition: all 250ms !important;
    }
}

.login-btn.register {
    min-width: 120px;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: $link !important;
}

/* Chrome spezifische Stile */
.chrome {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 50px $link;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $accent;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $accent, $alpha: 0.7);
    }
}

/* Firefox spezifische Stile */
.firefox {
    scrollbar-color: $accent $link;

    * {
        scrollbar-width: thin;
    }
}