/*###############################
###
###     GLOBAL STYLES
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

@import 'app/costum-styles/default-theme.scss';
/*
### GLOBAL STYLES
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center;}
mat-form-field {width: 100%;}

/*
### COSTUM CHANGES
*/
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: $background !important;
}