/*###############################
###
###     LOGIN STYLES
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### COSTUM STYLES
*/
@import '../../costum-styles/default-theme.scss';
@import '../../costum-styles/light-theme.scss';
@import '../../costum-styles/dark-theme.scss';

.register-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding-bottom:32px;
}