/*###############################
###
###     ANIMATIONS STYLES
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
*** board-card-wrapper-epmty ANIMATION
*/

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Anfangs- und Endposition */
    }
    40% {
      transform: translateY(30px); /* Tiefster Punkt */
    }
    60% {
      transform: translateY(15px); /* Zwischenschritt */
    }
  }
