@import './default-theme.scss';
$color-black: $primary;
$color-white: $secondary;
$size: 80px; // (Fully responsive)

.cat-container{
    position: fixed;
    z-index: 9999;
    bottom: -50px;
    left: 0;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

// Cat
.cat {
    margin-bottom: -120px;
	position: relative;
	height: $size;
	width: $size * 1.13;
    position: absolute;
    filter: drop-shadow(0 -6mm 4mm rgba(185, 185, 185,0.5));
	transition: all 250ms;
	&:hover{
		filter: drop-shadow(0 -6mm 4mm rgba($link, 0.5));
	}
}

// Ears
.ear {
	position: absolute;
	top: -30%;
	height: 60%;
	width: 35%;
	background: $color-white;
    border-top:5px solid $color-black;
	
	// Ear hair
	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 24%;
		height: 30%;
		width: 4%;
		background: $color-black;
	}
	
	&::after {
		transform-origin: 50% 100%;
	}
}

.ear--left {
	left: -7%;
	border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
	transform: rotate(-15deg);
	
	&::before,
	&::after {
		right: 10%;
	}
	
	&::after {
		transform: rotate(-45deg);
	}
}

.ear--right {
	right: -7%;
	border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
	transform: rotate(15deg);
	
	&::before,
	&::after {
		left: 10%;
	}
	
	&::after {
		transform: rotate(45deg);
	}
}

// Face
.face {
	position: absolute;
	height: 100%;
	width: 100%;
	background: $color-black;
	border-radius: 45%;
}

// Eyes
.eye {
	position: absolute;
	top: 35%;
	height: 30%;
	width: 31%;
	background: $color-white;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	
	// Eyelids
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 100%;
		border-radius: 0 0 50% 50% / 0 0 40% 40%;
		background: $color-black;
		animation: blink 4s infinite ease-in;
	}
	
	// Tips of the eyes
	&::before {
		content: '';
		position: absolute;
		top: 60%;
		height: 10%;
		width: 15%;
		background: $color-white;
		border-radius: 50%;
	}
}

.eye--left {
	left: 0;
	
	&::before {
		right: -5%;
	}
}

.eye--right {
	right: 0;
	
	&::before {
		left: -5%;
	}
}

// Pupils
.eye-pupil {
	position: absolute;
	top: 25%;
	height: 50%;
	width: 30%;
	background: $color-black;
	border-radius: 50%;
	animation: look-around 4s infinite;
	
	.eye--left & {
		right: 30%;
	}
	
	.eye--right & {
		left: 30%;
	}
	
	// Glare on the pupil
	&::after {
		content: '';
		position: absolute;
		top: 30%;
		right: -5%;
		height: 30%;
		width: 45%;
		border-radius: 50%;
		background: $color-white;
	}
}

// Muzzle, nose
.muzzle {
	position: absolute;
	top: 60%;
	left: 50%;
	height: 6%;
	width: 10%;
	background: $color-white;
	transform: translateX(-50%);
	border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

.mascot-dialog{
	position: absolute;
	bottom:100px;
	left:100px;
	z-index: 999;
	width: 200px;
	height:80px;
	background-color: $accent;
	color:$color-white;
	text-align: center;
	padding:8px 16px;
	border-radius: 40px 40px 40px 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	p{
		margin:0;
	}

	&.bounce-enter {
		@include bounce-in;
	}
}

.hidden{
    display: none;
}

.carly-wrapper {
    &.hidden {
      display: none;
    }
}