/*###############################
###
###     DARK THEME COLORS
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### GLOBAL COLORS
*/
// dark Theme
$primary-dark: hsl(240, 0%, 10%);
$secondary-dark: hsl(194, 100%, 15%);
$text-dark: hsl(0, 0%, 97%);
$link-dark: hsl(355, 100%, 58%);
$accent-dark: hsl(192, 83%, 26%);

.main-wrapper-dark{
    background-color: $secondary-dark;
    color: $text-dark;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 550ms;
}

/* BOARD COMPONENT */
.board-bg-dark{
    background-color: $secondary-dark;
    transition: all 550ms;
}

.board-sidenav-dark{
    width: 300px;
    background-color: $primary-dark;
    color: $text-dark;
}

.board-toolbar-dark{
    background-color: $primary-dark;
    color: $text-dark;
    position: fixed;
    top: 0;
    z-index: 2;

    transition: all 550ms;
}

.board-heading-dark{
    margin-bottom: 16px;
    color:$text-dark;
    transition: all 550ms;
    & mat-icon{
        color:$text-dark;
        cursor: pointer;
    
        &:nth-child(2) {
            margin-left:24px;
        }
    }
}

.board-card-subtitle-dark{
    color: $text-dark;
    font-style: italic;
}

.board-card-dark{
    background-color: $secondary-dark;
    color: $text-dark;
    border:solid 3px $accent-dark;
    border-radius: 20px;
    width: 380px;

    height: fit-content;
    padding: 8px 8px 16px 8px;

    transition: all 550ms;
}

.board-card-wrapper-empty-dark{
    background: linear-gradient(180deg, $secondary-dark, $primary-dark);
    color:$text-dark;
    & .board-col-icons{
        color:$text-dark;
    }
    border-radius: 20px;

    height:500px;
    max-height: 600px;

    transition: all 550ms;
}

.board-wrapper-dark{
    position: relative;
    top:120px;
    left:0;
    background-color: $primary-dark;
    min-width: 100vw;
    height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    margin: 0;
    padding: 0;
}