/*###############################
###
###     DARK THEME COLORS
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

@import './animations.scss';

/*
### GLOBAL COLORS
*/
// dark Theme
$primary-dark: hsl(240, 0%, 10%);
$secondary-dark: hsl(194, 100%, 15%);
$text-dark: hsl(0, 0%, 97%);
$link-dark: hsl(355, 100%, 58%);
$accent-dark: hsl(192, 83%, 26%);


/* LOGIN COMPONENT*/
.main-wrapper-dark{
    background-color: $secondary-dark;
    color: $text-dark;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 550ms;
}

#loginBtnContainer{
    button.login-btn-dark{
        background-color: $background;
        color:$text;
        transition: all 250ms;
        &:hover{
            background-color: $accent-dark;
            color:$text-dark;
        }
    }
}

/* BOARD COMPONENT */
.board-overlay-dark{
    background-color: $accent-dark;
    color: $text-dark;

    font-size: 50px;

    min-height: 100%;
    min-width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s;

    overflow: hidden !important;
}

.board-bg-dark{
    background-color: $secondary-dark;
    transition: all 550ms;
}

.board-sidenav-dark{
    width: 300px;
    background-color: $primary-dark;
    color: $text-dark;
}

.board-toolbar-dark{
    background-color: $primary-dark;
    color: $text-dark;
    position: fixed;
    top: 0;
    z-index: 2;

    transition: all 550ms;
}

.board-heading-dark{
    margin-bottom: 16px;
    color:$text-dark;
    transition: all 550ms;
    & mat-icon{
        color:$text-dark;
        cursor: pointer;
    
        &:nth-child(2) {
            margin-left:24px;
        }
    }
}

.board-card-subtitle-dark{
    color: $text-dark;
    font-style: italic;
}

.board-card-dark{
    background-color: $secondary-dark;
    color: $text-dark;
    border:solid 3px $accent-dark;
    border-radius: 20px;
    width: 380px;

    height: fit-content;
    padding: 8px 8px 16px 8px;

    transition: all 550ms;

    &.overdue {
        border:solid 2px $link-dark;
    }
}

.board-card-wrapper-empty-dark{
    background: linear-gradient(180deg, $secondary-dark, $primary-dark);
    color:$text-dark;
    & .board-col-icons, .mr-t-16{
        color:$text-dark;
        cursor: pointer;
    }

    border-radius: 20px;

    height:500px;
    max-height: 600px;

    animation: bounce 2s 1;
}

.board-wrapper-dark{
    position: relative;
    top:120px;
    left:0;
    background-color: $primary-dark;
    min-width: 100vw;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.board-user-dark{
    color:$text-dark;
    position: absolute;
    top:76px;
    left:56px;

    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    gap:32px;

    h1{
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}

/* MEDIA QUERRYS*/
@media (max-width: 720px) {
    .board-wrapper-dark{
        overflow: auto;
    }
    .board-wrapper-col-dark {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 64px;
    }
    .board-col-overflow-dark{
        height: fit-content;
    }
    .board-card-wrapper-empty-dark{
        height: 150px;
    }
    .board-col-headline-dark{
        font-size: 16px;
    }
    .mat-mdc-card-title-dark{
        font-size: 14px;
    }
    .mat-mdc-card-subtitle-dark, .mat-mdc-card-content-dark{
        font-size: 11px;
    }
    .board-card-dark{
        width: 300px;
        height: fit-content;
        padding:8px;
    }
    .board-card-wrapper-dark{
        max-width: 320px;
    }
    .board-media-row-dark{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap:32px;
    }
    .board-user-dark{
        justify-content: center;
        gap:24px;
    }
}