/*###############################
###
###     DARK THEME COLORS
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### GLOBAL COLORS
*/
// dark Theme
$primary-dark: hsl(240, 0%, 10%);
$secondary-dark: hsl(194, 100%, 15%);
$background-dark: hsl(0, 0%, 89%);
$text-dark: hsl(0, 0%, 97%);
$link-dark: hsl(355, 100%, 58%);
$accent-dark: hsl(192, 83%, 26%);

.main-wrapper-dark{
    background-color: $secondary-dark;
    color: $text-dark;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 550ms;
}

/* BOARD COMPONENT */
.board-bg-dark{
    background-color: $secondary-dark;
    transition: all 550ms;
}

.board-sidenav-dark{
    width: 300px;
    background-color: $primary-dark;
    color: $text-dark;

    transition: all 550ms;
}

.board-toolbar-dark{
    background-color: $primary-dark;
    color: $text-dark;
    position: fixed;
    top: 0;
    z-index: 2;

    transition: all 550ms;
}

.board-card-dark{
    background-color: $secondary-dark;
    color: $text-dark;
    border:solid 3px $accent-dark;
    border-radius: 20px;

    height: fit-content;
    padding: 8px 8px 16px 8px;

    margin-top: 24px;
    transition: all 550ms;
}

.board-wrapper-dark{
    position: relative;
    top:120px;
    left:0;
    background-color: $primary-dark;
    min-width: 100vw;
    min-height: calc(100vh - 120px);
    margin: 0;
    padding: 0;
    transition: all 550ms;
}