/*###############################
###
###     GLOBAL COLORS
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

// DEFAULT Theme
$primary: hsl(240, 0%, 10%);
$secondary: hsl(0, 0%, 97%);
$background: hsl(0, 0%, 89%);
$text: hsl(240, 0%, 10%);
$link: hsl(355, 100%, 58%);
$accent: hsl(232, 72%, 21%);