/*###############################
###
###     LIGHT THEME COLORS
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

// Light Theme
$primary-light: hsl(223, 44%, 80%);
$secondary-light: hsl(0, 0%, 97%);
$background-light: hsl(0, 0%, 89%);
$text-light: hsl(240, 0%, 10%);
$link-light: hsl(355, 100%, 58%);
$accent-light: hsl(232, 72%, 21%);


/* LOGIN COMPONENT */
.main-wrapper-light{
    background-color: $primary-light;
    color: $text-light;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 550ms;
}