/*###############################
###
###     LIGHT THEME COLORS
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

@import './animations.scss';
@import './cat-mascot.scss';

// Light Theme
$primary-light: hsl(223, 44%, 80%);
$secondary-light: hsl(0, 0%, 97%);
$background-light: hsl(0, 0%, 89%);
$text-light: hsl(240, 0%, 10%);
$link-light: hsl(355, 100%, 58%);
$accent-light: hsl(232, 72%, 21%);


/* LOGIN COMPONENT */
.main-wrapper-light{
    background-color: $primary-light;
    color: $text-light;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 550ms;
}

#loginBtnContainer{
    button.login-btn-light{
        background-color: $background;
        color:$text;
        transition: all 250ms;
        &:hover{
            background-color: $text-light;
            color:$secondary-light;
        }
    }
}

/* BOARD COMPONENT */
.board-overlay-light{
    background-color: $primary-light;
    color: $secondary-light;

    font-size: 50px;

    min-height: 100%;
    min-width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s;

    overflow: hidden !important;
}

.board-bg-light{
    background-color: $secondary;
    transition: all 550ms;
}

.board-sidenav-light{
    width: 300px;
    background-color: $primary-light;
    color: $text-light;
}

.board-toolbar-light{
    background-color: $primary-light;
    color: $secondary-light;
    position: fixed;
    top: 0;
    z-index: 2;

    transition: all 550ms;
}

.board-heading-light{
    margin-bottom: 16px;
    color:$text-light;
    transition: all 550ms;

    & mat-icon{
        color:$text-light;
        cursor: pointer;
        transition: all 250ms;
        padding:4px;

        &:hover {
            background-color: $link-light;
            color: $secondary-light;
            border-radius: 50px;
        }
    
        &:nth-child(2) {
            margin-left:24px;
        }
    }
}

.board-card-light{
    background-color: $secondary-light;
    border-radius: 20px;
    border:solid 2px $primary-light;
    width: 360px;

    height: fit-content;
    padding: 8px 8px 16px 8px;

    transition: all 550ms;

    & mat-icon{
        color:$primary-light !important;
    }

    &.overdue {
        border-bottom: solid 2px $link-light;
        & .board-card-date-light{
            color:$link-light;
            font-weight: 900;
        }
    }

    input, textarea{
        color:$text-light;
        font-family: inherit;
    }

    ::-webkit-calendar-picker-indicator {
        font-size: 17px;
        margin-left:-15px;
        padding:0;
        cursor: pointer;
    }
}

.board-card-light.doneIt{
    opacity: 0.4;
    border: none;
}

.board-card-date-light{
    color:$primary-light;
}


.board-card-subtitle-light{
    color: $accent-light;
    font-style: italic;
}

.board-card-wrapper-empty-light{
    background: linear-gradient(180deg, $secondary-light, $background-light);
    border-radius: 20px;
    & .board-col-, .mr-t-16{
        color:$text;
        cursor: pointer;
    }

    height:500px;
    max-height: 600px;

    animation: bounce 2s 1;
}

.board-col-overflow-light{
    overflow-y: auto;
    max-height: inherit;
    padding:8px;
    height: 700px;
    color:$text-light;
    transition: all 250ms;
    .pointer{
        mat-icon{
            color:$text-light;
        }
    }
}

.board-wrapper-light{
    position: relative;
    top:120px;
    left:0;
    background-color: $background-light;
    min-width: 100vw;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.board-user-light {
    color: $text-light;
    position: absolute;
    top: 76px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    .hud {
        display: flex;
        align-items: first baseline;
        justify-content: flex-start;
        width: 90%;
        margin: 0 16px;
        padding: 0 8px;
        overflow-x: auto;
        white-space: nowrap;
        gap: 16px;

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }
    }
}

.board-col-tools .board-done-icon-light{
    color:$text;
    cursor: pointer;
    padding:2px;

    &:hover{
        border-radius: 100%;
        transform: scale(1.1);
        padding: 2px;
        cursor: pointer !important;
        background-color: $low;
        color:$secondary-light !important;
    }
}

/* STYLES FOR ACTIVTED INPUTS */
.edit-mode-light.board-col-icons.edit {
    background-color: $link-light;
    border-radius: 100%;
    color:$secondary-light !important ;

    &:hover{
        color:$primary-light !important;
    }
}

/* STYLES FOR CARLY AND TEXTBOX */
.cat-light {
    margin-bottom: -120px;
	position: relative;
	height: $size;
	width: $size * 1.13;
    position: absolute;
    filter: drop-shadow(0 -6mm 4mm rgba(185, 185, 185,0.5));
	transition: all 250ms;
	&:hover{
		filter: drop-shadow(0 -6mm 4mm rgba($primary-light, 0.9));
	}
}

.mascot-dialog-light{
    position: absolute;
	bottom:100px;
	left:100px;
	z-index: 999;
	width: 200px;
	height:80px;
	background-color: $primary-light;
	color:#ffffff;
	text-align: center;
	padding:8px 16px;
	border-radius: 40px 40px 40px 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	p{
		margin:0;
	}

	&.bounce-enter {
		@include bounce-in;
	}
}

/* MEDIA QUERRYS*/
@media (max-width: 720px) {
    .board-wrapper-light{
        overflow: auto;
    }
    .board-wrapper-col-light {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 64px;
    }
    .board-col-overflow-light{
        height: fit-content;
    }
    .board-card-wrapper-empty-light{
        height: 150px;
    }
    .board-col-headline-light{
        font-size: 16px;
    }
    .mat-mdc-card-title-light{
        font-size: 14px;
    }
    .mat-mdc-card-subtitle-light, .mat-mdc-card-content-light{
        font-size: 11px;
    }
    .board-card-light{
        width: 300px;
        height: fit-content;
        padding:8px;
    }
    .board-card-wrapper-light{
        max-width: 320px;
    }
    .board-media-row-light{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap:32px;
    }
    .board-user-light {
        overflow: hidden;
        display: flex;
        justify-content: center;

        .hud {
            display: flex;
            width: 90%;
            margin: 0 16px;
            padding: 0 8px;
            overflow-x: auto;
            white-space: nowrap; /* Prevents text from wrapping */
            gap: 16px;

            h1 {
                font-size: 14px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}