<section id="mainWrapper" class="main-wrapper">
    <div class="outer-wrapper--login">
        <h1>Login to Board</h1>

        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select theme</mat-label>
            <mat-select (selectionChange)="onThemeChange($event.value)">
                <mat-option value="default-theme">Default</mat-option>
                <mat-option value="light-theme">Light</mat-option>
                <mat-option value="dark-theme">Dark</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex-c-c gap-32">
            <button class="login-btn" mat-raised-button (click)="openDialog()">
                <mat-icon>how_to_reg</mat-icon>Register
            </button>
            <app-snackbars></app-snackbars>
        </div>
    </div>
</section>