/*###############################
###
###     BOARD STYLES
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### COSTUM STYLES
*/
@import '../../costum-styles/default-theme.scss';
@import '../../costum-styles/light-theme.scss';
@import '../../costum-styles/dark-theme.scss';
@import '../../costum-styles/animations.scss';
@import '../../costum-styles/cat-mascot.scss';

mat-toolbar-row {
    justify-content: space-between;
    align-items: center;
}

mat-icon {
    color: $secondary;
}

/* Welcome Overlay START */
.board-overlay {
    background-color: $primary;
    color: $background;
    font-size: 50px;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    overflow: hidden;
}

.slide-out {
    transform: translateX(100%);
    opacity: 1;
}

.board-overlay-hide {
    animation: slideOutRight 1s forwards;
}

.slide-out-logout {
    animation: slideOutRight 1s forwards;
}

.log-out {
    position: absolute;
    bottom: 24px;
    left: 8px;
}

.board-bg {
    background-color: $secondary;
    transition: all 550ms;
}

.mat-drawer-container {
    height: 100%;
    width: 100%;
}

.board-toolbar {
    background-color: $primary;
    color: $secondary;
    position: fixed;
    top: 0;
    z-index: 2;
} 

.menu-icon {
    cursor: pointer;
}

.board-sidenav {
    width: 300px;
    background-color: $primary;
    color: $secondary;
}

.logo-container {
    border-bottom: 1px solid rgba($secondary, 0.15);
    padding: 0 16px 0 16px;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items {
    padding: 0;
    margin: 0;

    mat-icon {
        margin-right: 16px;
        transition: all 250ms ease;
    }

    li {
        padding: 0 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 250ms ease;

        &:hover {
            background-color: $background;
            color: $text;

            mat-icon {
                color: $text;
            }
        }

        &:focus {
            background-color: $secondary;
            color: $text;

            mat-icon {
                color: $text;
            }
        }
    }
}

.board-wrapper {
    position: relative;
    top: 120px;
    left: 0;
    background-color: $background;
    min-width: 100vw;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.board-user {
    color: $text;
    position: absolute;
    top: 76px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    transition: all 150ms;

    .hud {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 16px;
        padding: 0 8px;
        overflow-x: auto;
        white-space: nowrap;
        gap: 16px;

        h1 {
            font-size: 20px;
            margin: 0;
        }

        p {
            font-size: 16px;
        }

        .play-btn{
            color:$text;
            cursor: pointer;
            font-size: 25px;
            &:hover{
                color:$link;
            }
        }
    }
}

.board-clicker-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        line-height: 0;
        margin-bottom: 0;
        margin-left: 8px;
    }

    .reset-timer-btn{
        background-color: $primary;
        color:$secondary;
        transition: all 150ms;
        cursor: pointer;
        height: 32px;

        font-size: 12px;

        margin-left: 16px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 20px;
        padding:8px 12px;

        &:hover{
            background-color:$link;
        }

        mat-icon{
            color:$secondary;
            margin-right: 8px;
        }
    }
}

.board-wrapper-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    min-height: calc(100vh - 120px);

    position: relative;
    overflow: auto;
}

.board-card-wrapper {
    height: 100%;
    max-height: 960px;
    width: 400px;
    margin-top: 32px;
    overflow-y: hidden;
}

.board-col-overflow {
    overflow-y: auto;
    max-height: inherit;
    padding: 8px;
    height: 720px;
    color: $text;
    transition: all 250ms;

    .pointer {
        mat-icon {
            color: $text;
        }
    }
}

.board-media-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.board-card-wrapper-empty {
    background: linear-gradient(180deg, $secondary, $background);
    border-radius: 20px;

    & .board-col-icons,
    .mr-t-16 {
        color: $text;
        cursor: pointer;
    }

    height:500px;
    max-height: 600px;

    animation: bounce 2s 1;
    animation-timing-function: ease;
    animation-delay: 0s;
}

.board-card {
    background-color: $secondary;
    color: $text;
    border: solid 2px transparent;
    border-radius: 20px;
    width: 360px;
    height: fit-content;
    padding: 8px 8px 16px 8px;
    transition: all 550ms;

    &.overdue {
        border-bottom: solid 2px $link;

        & .board-card-date {
            color: $link;
            font-weight: 900;
        }
    }

    input,
    textarea {
        color: $text-light;
        font-family: inherit;
    }

    ::-webkit-calendar-picker-indicator {
        font-size: 17px;
        margin-left: -15px;
        padding: 0;
        cursor: pointer;
    }
}

.board-card.doneIt {
    opacity: 0.4;
    border: none;
}

.board-card-date {
    color: $text;
}

.board-heading {
    margin-bottom: 16px;
    color: $text;
    transition: all 550ms;

    & mat-icon {
        color: $text;
        cursor: pointer;
        transition: all 250ms;
        padding: 4px;

        &:hover {
            background-color: $link;
            color: $secondary;
            border-radius: 50px;
        }

        &:nth-child(2) {
            margin-left: 24px;
        }
    }
}

.board-empty-add-task {
    cursor: pointer;
    transition: all 150ms;

    mat-icon {
        color: $text;
    }

    &:hover {
        background-color: $link;
        color: $secondary !important;
        border-radius: 50px;
        padding: 6px 12px;

        mat-icon {
            color: $secondary !important;
        }
    }
}

.sad {
    color: $link;
    margin-left: 16px;
}

.check {
    background-color: unset;

    &:hover {
        background-color: transparent !important;
        color: $low !important;
        cursor: default !important;
    }
}

.board-done {
    color: $low;

    mat-icon {
        color: $low;
        margin-right: 16px;
    }
}

.board-card-subtitle {
    color: $text;
    font-style: italic;
}

.urgent {
    background-color: $urgent;
    border-radius: 10px;
    width: 20px;
    height: 3px;
    margin: 8px 0;
}

.medium {
    background-color: $medium;
    border-radius: 10px;
    width: 20px;
    height: 3px;
    margin: 8px 0;
}

.low {
    background-color: $low;
    border-radius: 10px;
    width: 20px;
    height: 3px;
    margin: 8px 0;
}

.board-col-headline {
    font-size: 24px;
}

.board-card-date {
    color: $text;
}

.board-col-tools {
    position: absolute;
    bottom: 0;
    right: 8px;
    transition: all 150ms;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;


    mat-icon {
        color: $text;
        transition: all 250ms;
        padding: 2px;
        font-size: 20px;
        text-align: center;

        &:hover {
            color: $primary;
            background-color: $background;
            border-radius: 100%;
            transform: scale(1.1);
            padding: 2px;
            cursor: pointer !important;
        }
    }

    .board-done-icon {
        color: $text;
        cursor: pointer;
        padding: 2px;

        &:hover {
            border-radius: 100%;
            transform: scale(1.1);
            padding: 2px;
            cursor: pointer !important;
            background-color: $low;
            color: #ffffff;
        }
    }
}

.mat-mdc-select {
    color: $secondary !important;
    margin-left: 16px;
    font-style: italic;
    font-size: 12px !important;
}

.mat-mdc-select:hover {
    color: $text !important;
}

.pointer {
    cursor: pointer;
    transition: all 150ms;

    &:hover {
        background-color: $link;
        color: $secondary;
        border-radius: 50px;
        padding: 6px 12px;

        mat-icon {
            color: $secondary !important;
        }
    }
}

/* STYLES FOR ACTIVTED INPUTS */
.edit-mode input,
.edit-mode textarea {
    border-bottom: solid 1px $link;
}

.edit-mode input:focus,
.edit-mode textarea:focus {
    outline: none;
}

.edit-mode.board-col-icons.edit {
    background-color: $link;
    border-radius: 100%;
    color: $secondary;
}

/* MEDIA QUERRYS*/
@media (max-width: 720px) {
    .board-wrapper {
        overflow: auto;
    }

    .board-wrapper-col {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 64px;
    }

    .board-col-overflow {
        height: fit-content;
    }

    .board-card-wrapper-empty {
        height: 150px;
    }

    .board-col-headline {
        font-size: 16px;
    }

    .mat-mdc-card-title {
        font-size: 14px;
    }

    .mat-mdc-card-subtitle,
    .mat-mdc-card-content {
        font-size: 11px;
    }

    .board-card {
        width: 300px;
        height: fit-content;
        padding: 8px;
    }

    .board-card-wrapper {
        max-width: 320px;
    }

    .board-media-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 32px;
    }

    .board-user {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .hud {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 90%;
            margin: 0 16px;
            padding: 0 8px;
            overflow-x: auto;
            white-space: nowrap;
            /* Prevents text from wrapping */
            gap: 16px;

            h1 {
                font-size: 14px;
                line-height: 0;
                margin: 0;
            }

            p {
                font-size: 12px;
                line-height: 0;
            }
        }
    }

    //hide on mobile
    .hide-om{
        display: none;
    }
}