/*###############################
###
###     LOGIN STYLES
###     KANBAN FRONTEND + BACKEND PROJECT
###     BASED ON: ANGULAR 17 + DJANGO
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### COSTUM STYLES
*/

.snack-msg{
    margin-left:64px;
    margin-right: 32px;
}

/* Spinner styles */
.login-spinner::ng-deep circle{
    stroke: #FFFFFF !important;
    width: 50px;
    height: auto;
}