.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Halbtransparentes Overlay */
    z-index: 1000; /* Z-Index sicherstellen, dass es über allem liegt */
    display: flex;
    justify-content: center;
    align-items: center;

    color:white;
  }
  